// main: ../main.scss
.steps{
  position: relative;
  border-bottom: 1px solid $cinzaMedio2;
  width: 100%;
  margin:30px 0;
  .stepNumbers{
    width: 100%;
    position: absolute;
    height: 22px;
    left: 0;
    top:-10px;
    span{
      width: 22px;
      height: 22px;
      line-height: 20px;
      text-align: center;
      border-radius: 100%;
      float: left;
      margin-left: 5px;
      font-size: 15px;
      background: $cinzaClaro;
      color: $cinzaMedio2;
      border:1px solid $cinzaMedio2;
      font-family: $bariol;
      &:first-child{
        margin-left: 0;
      }
      &.active{
        background: $cinzaMedio2;
        color: $branco;
      }
      &.completed{
        position: relative;
        &::before {
            content:url('../img/checked.png');
            position: absolute;
            top:1px;
            left:0;
        }
      }
    }
  }
  p{
    position: absolute;
    right: 0;
    top:-18px;
    font-size: 14px;
  }
}
