// main: main.scss
/* -- fonts -- */
$bariol: 'bariol', Helvetica, Arial, Sans-serif;
$bariolBold: 'bariol_bold', Helvetica, Arial, Sans-serif;
$fonteIcones: 'icomoon';
/* -- colors -- */
$preto: #000;
$branco: #ffffff;
$turquesa: #00AE9D;
$verdeClaro: #7DB61C;
$verdeClaro2: #cae5bc;
$verdeMedio: #215A41;
$verdeMedio2: #65951B;
$verdeEscuro: #003641;
$verdeEscuro2: #002B35;
$cinzaClaro: #f9f9f9;
$cinzaMedio: #f2f2f2;
$cinzaMedio2:#6F8A8C;
$cinzaMedio3:#7B9495;
$cinzaEscuro: #e5e5e5;
$cinzaEscuro2: #cccccc;
$amarelo: #C8D117;
$vermelho: #FE3333;
$azul: #00AC9B;
